.vscode/
.idea/
zsh/zshrc.local.zsh
nvim/plugin/packer_compiled.lua
/windows/vscodium/User/globalStorage
/windows/vscodium/User/History
/windows/vscodium/**/*.backup
/windows/vscodium/User/workspaceStorage
/windows/vscodium/User/themes
windows/_.bat
