" Copied from https://github.com/IlyasYOY/dotfiles/blob/master/.ideavimrc
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
source ~/.vimrc

" Do incremental searching.
set ideajoin
set idearefactormode=keep
set ideamarkset

Plug 'preservim/nerdtree'
Plug 'machakann/vim-highlightedyank'

" Plug 'terryma/vim-multiple-cursors'
" " Default mapping
" let g:multi_cursor_use_default_mapping=0
" let g:multi_cursor_start_word_key      = '<C-n>'
" let g:multi_cursor_select_all_word_key = '<A-n>'
" let g:multi_cursor_start_key           = 'g<C-n>'
" let g:multi_cursor_select_all_key      = 'g<A-n>'
" let g:multi_cursor_next_key            = '<C-n>'
" let g:multi_cursor_prev_key            = '<C-p>'
" let g:multi_cursor_skip_key            = '<C-x>'
" let g:multi_cursor_quit_key            = '<Esc>'

" Old text                  Command     New text ~
" "Hello *world!"           ds"         Hello world!
" [123+4*56]/2              cs])        (123+456)/2
" "Look ma, I'm *HTML!"     cs"<q>      <q>Look ma, I'm HTML!</q>
" if *x>3 {                 ysW(        if ( x>3 ) {
" my $str = *whee!;         vllllS'     my $str = 'whee!';
Plug 'tpope/vim-surround'

let g:highlightedyank_highlight_duration = "250"
let g:highlightedyank_highlight_color = "rgba(160, 160, 0, 155)"

" ==============================
" - Mappings -
" ==============================
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \E :e ~/.vimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap <esc> <esc>

" --- Git Blame
map <leader><leader>g <Action>(Annotate)
vmap K <Action>(MoveLineUp)
vmap J <Action>(MoveLineDown)

map <leader>e <Action>(ActivateProjectToolWindow)

map [d <Action>(GotoPreviousError)
map ]d <Action>(GotoNextError)

" Search
map <leader>fa <Action>(SearchEverywhere)

map <leader>fn <Action>(GotoFile)
map <leader>fg <Action>(FindInPath)
map <leader>fc <Action>(GotoClass)
map <leader>fs <Action>(GotoSymbol)
map <leader>fr <Action>(RecentFiles)
" map <leader>fd <Action>(HelpDiagnosticTools)
map <leader>ft <Action>(ActivateTODOToolWindow)

" Debug
map <F6> <Action>(Debug)
map <F6> <Action>(EvaluateExpression)
map <F8> <Action>(StepOver)
map <F7> <Action>(StepInto)
map <F9> <Action>(Resume)
map <F10> <Action>(StepOut)

xmap gc <Action>(CommentByLineComment)

" Test
map <leader>ct <Action>(GenerateTestMethod)
map <leader>C <Action>(Generate)
map <leader>tt <Action>(RunClass)

" Completion
imap <C-f> <Action>(CodeCompletion)

" LSP
map gD mz`z<Action>(GotoTypeDeclaration)
map gd mz`z<Action>(GotoDeclaration)
map gi mz`z<Action>(GotoImplementation)
map gr mz`z<Action>(GotoDeclaration)
map <leader>rn <Action>(RenameElement)

map <leader>oc <Action>(ReformatCode)
map <leader>oi <Action>(OptimizeImports)
map <leader>oa <Action>(ReformatCode)<Action>(OptimizeImports)
map <leader>jev <Action>(IntroduceVariable)
map <leader>jec <Action>(IntroduceConstant)
map <leader>jem <Action>(ExtractMethod)
map <leader>jen <Action>(Inline)
map <leader>jeo <Action>(OverrideMethods)

map <leader>k <Action>(QuickJavaDoc)
imap <C-s> <Action>(ParameterInfo)
map <C-s> <Action>(ParameterInfo)
map <leader>s <Action>(GotoSymbol)
map <leader>S <Action>(GotoSymbol)

map <leader>a <Action>(ShowIntentionActions)
map <leader><leader>T <Action>(VimFindActionIdAction)

" Navigation
nmap <A-v> <Action>(PreviousTab)
nmap <A-m> <Action>(NextTab)

map <leader>s <Action>(FileStructurePopup)

map <C-S-K> <Action>(EditorCloneCaretAbove)
map <C-S-J> <Action>(EditorCloneCaretBelow)
map <A-q> <Action>(CloseEditor)
map <leader>z <Action>(ToggleDistractionFreeMode)

" Reload file from disk
" map <C-r> <Action>(SynchronizeCurrentFile)

" Hardmode
nnoremap <Left> <Nop>
vnoremap <Left> <Nop>
nnoremap <Right> <Nop>
vnoremap <Right> <Nop>
nnoremap <Down> <Nop>
vnoremap <Down> <Nop>
nnoremap <Up> <Nop>
vnoremap <Up> <Nop>

vmap <C-/> <Action>(CommentByLineComment)<esc>`>j^
xmap <C-/> <Action>(CommentByLineComment)<esc>`>j^
nmap <C-/> mz<Action>(CommentByLineComment)`zj^

" Don't use Ex mode, use Q for formatting.
map Q gq

" Map Russian To QWERTY
map й q
map ц w
map у e
map к r
map е t
map н y
map г u
map ш i
map щ o
map з p
map х [
map ъ ]
map ф a
map ы s
map в d
map а f
map п g
map р h
map о j
map л k
map д l
map ж ;
map э '
map ё \
map я z
map ч x
map с c
map м v
map и b
map т n
map ь m
map б ,
map ю .
map Й Q
map Ц W
map У E
map К R
map Е T
map Н Y
map Г U
map Ш I
map Щ O
map З P
map Х {
map Ъ }
map Ф A
map Ы S
map В D
map А F
map П G
map Р H
map О J
map Л K
map Д L
map Ж :
map Э "
map Я Z
map Ч X
map С C
map М V
map И B
map Т N
map Ь M
map Б <
map Ю >
map Ё /|
