# Это пример локальной конфигурации zsh.
# Для создания локальной конфигурации создайте файл `.zsh.local.symlink` в папке
# с данным файлом, после чего запустите скрипт `install.sh` из папки проекта (не
# в данной папке `zsh`).

export DEFAULT_USER="hulvdan"

# Adding Go!
export PATH=$PATH:/usr/local/go/bin

alias codejupiter="code ~/dev/codejupiter/"
